#plugin_container {
    position:relative;
    overflow:hidden;
}

#plugin_container p {
    margin:0;
    padding:0;
}

#digital_container {
	position:absolute;
    top:5px;
    left:5px;
    z-index:100;
}

#dots_bg {
    width:100%;
    height:100%;
    position:absolute;
    z-index:111;
}

#dots2_bg {
    width:100%;
    height:100%;
    position:absolute;
	margin-left:204px;
    z-index:111;
}

#back_bg {
    width:100%;
    height:100%;
    position:absolute;
    z-index:110;
}

#backseconds_bg {
    width:305px;
    height:100%;
    position:absolute;
	overflow: hidden;
    z-index:110;
}

#backseconds2_bg {
    width:100%;
    height:100%;
    position:absolute;
	overflow: hidden;
	margin-left:305px;
	z-index:109;
}

#backseconds2b_bg {
    width:100%;
    height:100%;
    position:absolute;
	margin-left:-101px;
	z-index:109;
}

#date {
    font-size:20pt;
    padding:0;
	font-weight:bold;
	z-index:200;
}

#clock {
    float:left;
    margin-left:0px;
}

#hours, #minutes, #seconds {
    width:200px;
    height:200px;
    float:left;
    position:relative;
}

#minutes, #seconds {
    margin-left:4px;
}

#hours_bg, #minutes_bg, #seconds_bg {
    width:100%;
    height:100%;
    position:absolute;
    z-index:120;
}

.first_digit {
    width:80px;
    height:100%;
    position:absolute;
    top:5px;
    left:20px;
    z-index:130;
}

.second_digit {
    width:80px;
    height:100%;
    position:absolute;
    top:5px;
    left:100px;
    z-index:130;
}

.line1 {
    width:175px;
    height:2px;
    background:#efefef;
    position:absolute;
    top:97px;
    left:12px;
    z-index:140;
    font-size:1px;
}

.line2 {
    width:175px;
    height:2px;
    background:#101010;
    position:absolute;
    top:97px;
    left:12px;
    z-index:140;
    font-size:1px;
}

.line3 {
    width:175px;
    height:2px;
    background:#530000;
    position:absolute;
    top:97px;
    left:12px;
    z-index:140;
    font-size:1px;
}

.line4 {
    width:175px;
    height:2px;
    background:#2D6EA7;
    position:absolute;
    top:97px;
    left:12px;
    z-index:140;
    font-size:1px;
}